@import 'gridmatic/main';

.one,.two,.four,.sixteen,.push_four,.pull_four,.prefix_four,.suffix_two {
  height:40px;
  background:black;
  margin-bottom:30px;
  color:white;
  text-align:center;
  line-height:40px;
  text-transform:uppercase;
  margin-top:10px !important;
}
.one {
  @include grid(columns, 1, 4, 16);
}
.two {
  @include grid(columns, 2, 2, 2);
}
.four {
  @include grid(columns, 4, 4, 4);
}
.sixteen{
  @include grid(columns, 16, 16, 16);
  @include bp(tablet) {
    background:green;
  }
}

.push_four {
  @include grid(columns, 4, 4, 4);
  @include grid(push, 4, 4, 4);
}

.pull_four {
  @include grid(columns, 4, 4, 4);
  @include grid(pull, 4, 4, 4);
}
.prefix_four {
  @include grid(columns, 4, 4, 4);
  @include grid(prefix, 4,4,4);
}
.suffix_two {
  @include grid(columns, 2, 2, 2);
  @include grid(suffix, 2, 2, 2);
}
