$max_columns:16; //can be any number. better to go with 12, 16, 24
$margins:1; //In %, fixed margin will break the grid
$max-width:100%; // can be set to pixels or %

//BreakPoints

$max-breakpoints:3;
$bp-rules: (
    mobile: (
      min-width: 0px,
      max-width: 768px,
    ),
    tablet: (
      min-width: 769px,
      max-width: 999px,
    ),
    desktop: (
      min-width: 1000px,
      max-width: 2000px,
    ),
);
